@gray: #404241;
@light-gray: #EBEEEE;
@bright-green: #A4EA4F;

body, html {
  height: 100%;
}

body {
  color: @gray;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  background-color: #FFF;
}

input[type="text"] {
  border: 1px solid #CCC;
  box-shadow: 0px 1px 3px #DDD inset;
  border-radius: 3px;

  &:focus {
    outline: 0px none;
    border-color: @bright-green;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;

  .watch-container, .tasks-container {
    flex: 1 0;
    text-align: center;
    padding: 10px;
  }
}

@media all and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}

.tasks-container {
  text-align: left;

  .add-task {
    font-size: 1.6em;
    width: 85%;
    box-sizing: border-box;
  }

  .tasks {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-top: 20px;

    .fi-list, .fi-thumbnails {
      font-size: 24px;
    }

    .task {
      padding: 7px;
      background: #F4F5F5;
      border: 1px solid #fff;
      border-left: 2px solid @bright-green;
      border-radius: 3px;
      transform: translateX(0);
      transition: all 0.2s;
//      box-shadow: 2px 2px 2px 0px rgba(164, 234, 79, 0.2);

      &:hover {
        transform: translateX(-5px);
      }

      .fi-clock {
        float: right;
        margin-top: -2px;
      }
    }

    &.tiles {
      flex-flow: row wrap;

      .task {
        display: block;
        width: 180px;
        height: 150px;
        margin: auto;
        border-left: none;
        border-top: 2px solid @bright-green;

        &:hover {
          margin-left: 0;
        }
      }
    }
  }
}

.fi-clock, .fi-list, .fi-thumbnails {
  font-size: 21px;
}


