<div class="tasks-component" ng-controller="TasksCtrl">
  <input class="add-task" type="text" ng-model="task" ui-keypress="{ 'enter': 'add(task)' }">
  <i class="fi-list" ng-click="setLayout('list')"></i>
  <i class="fi-thumbnails" ng-click="setLayout('tiles')"></i>
  <ul class="tasks {{layout}}">
    <li class="task" ng-repeat="task in tasks" ng-swipe-right="remove(task)">
      {{task.title}}
      <div class="duration">{{task.duration}}m</div>
      <div class="startAt">{{task.startAt.format('LT')}}</div>
      <i class="fi-clock"></i>
    </li>
  </ul>
</div>
